*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background-image: url(images/house.jpeg);
    background-size: cover;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.image{
    width: 150px;
    height: 150px;
    margin-top: 400px;
    animation: skew 2s infinite forwards;
}
@keyframes skew{
    0%{
        transform: skewX(35deg);
    }
    50%{
        transform: skew(-35deg);
    }
    75%{
        transform: skewY(20deg);
    }
    100%{
        transform: skewX(10deg);
    }
}