* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/* HEADER */
.header {
    width: 100%;
    background-color: rgb(144, 3, 3);
}

.header-container {
    height: 130px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(252, 252, 252);
    border-top-left-radius: 100px;
}

.header-title {
    display: flex;
    align-items: center;
    padding-left: 40px;
}

.head-image {
    width: 80px;
    height: 80px;
}

.head-text {
    text-align: center;
    margin-left: 5px;
}

.head-text h3 {
    font-size: 1.6rem;
    margin-bottom: 8px;
    color: #092c50;
}

.head-text .naac {
    font-size: 0.85rem;
    font-weight: 700;
    color: #044f99;
    margin-bottom: 5px;
}

.head-text .moto {
    font-size: 0.8rem;
    color: rgb(144, 3, 3);
}

.head-text .golden-color {
    color: #ffaa00;
}

.open-menu {
    display: none;
}

.header-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.header-menu .list1 {
    background: rgb(173, 4, 4);
    border-bottom-left-radius: 20px;
    padding: 10px;
}

.header-menu .list1 li {
    padding: 0px 10px;
    font-size: 0.85rem;
}

.header-menu .list1 i {
    color: white;
}

.header-menu .list1 li a {
    color: white;
}

.header-menu .list2 {
    margin-bottom: 28px;
}

.header-menu .list2 li {
    padding: 0px 6px;
}

.header-menu .list2 li a {
    color: rgb(3, 3, 114);
    font-size: 0.8rem;
    font-weight: 500;
}

ul li .sublist li {
    display: block;
}

ul li .sublist {
    display: none;
    background: white;
    position: absolute;
    border-radius: 5px;
    z-index: 99;
}

ul li .sublist li {
    padding: 5px 20px;
}

.list2 li:hover .sublist {
    display: block;
}




/* ANNOUNCEMENT */
.announcement {
    display: flex;
    align-items: center;
    background-color: rgba(252, 252, 252, 0.463);
    padding: 4px 2px;
}

.announcement h3 {
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(133, 112, 239, 0.751)0%, rgba(62, 226, 237, 0.943)90%);
    padding: 6px 12px;
    padding-right: 30px;
    font-weight: bold;
    font-size: 0.7rem;
    color: #fff;
    clip-path: polygon(100% 0%, 89% 53%, 100% 100%, 0 100%, 0% 50%, 0 0);
}

.announcement marquee {
    font-size: 0.65rem;
}



/* SLIDER */
.slider {
    height: 70vh;
    width: 100%;
}

#slideimg {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}





/* ADMISSION */
.admission-open {
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(248, 247, 247, 0.356);
}

.admission-open .admission {
    width: 700px;
    text-align: center;
    padding: 20px;
    box-shadow: 2px 2px 2px rgb(230, 230, 230);
    border-radius: 10px;
    border-top: #e79c04 5px solid;
}

.admission-open p {
    font-size: 1.3rem;
    margin-bottom: 20px;
    font-weight: 600;
}

.admission-open .brown-color {
    color: rgb(207, 6, 6);
}

.admission-open .register {
    background: rgb(207, 6, 6);
    border: none;
    padding: 8px 20px;
    border-radius: 5px;
    border: transparent 2px solid;
}

.admission-open .register:hover {
    background: white;
    border: rgb(207, 6, 6) 2px solid;
}

.admission-open .register a {
    color: white;
    font-size: 1rem;
}

.admission-open .register:hover a {
    color: rgb(207, 6, 6);
}

.admission-open .new {
    color: #ffee00;
    font-size: 0.85rem;
    padding: 5px;
    margin-right: 5px;
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    animation: colorChange 3s infinite;
}

@keyframes colorChange {
    0% {
        background: rgb(207, 6, 6);
        color: #ffee00;
    }

    50% {
        background: #ffee00;
        color: rgb(207, 6, 6);
    }

    75% {
        background: rgb(207, 6, 6);
        color: #ffee00;
    }

    100% {
        background: #ffee00;
        color: rgb(207, 6, 6);
    }
}





/* PRINCIPAL DESK */
.principal-desk {
    display: flex;
    background: rgba(248, 247, 247, 0.356);
    padding: 50px 10px;
}

.principal-image {
    max-width: 350px;
    height: 65vh;
    margin-right: 20px;
}

.principal-image img {
    width: 100%;
    height: 100%;
}

.principal-description {
    max-width: 850px;
    font-size: 0.85rem;
    text-align: justify;
}

.principal-description h3 {
    font-size: 1rem;
}







/* NEWS-EVENT */
.news-event {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 30px;
    gap: 20px;
    background: rgba(248, 247, 247, 0.356);
}

.event {
    border-radius: 5px;
}

.event_content {
    display: flex;
    flex-wrap: wrap;
    padding: 0px auto;
    gap: 5px;
}

.event_content-container {
    width: 200px;
    height: 30vh;
    padding: 15px;
    box-shadow: 2px 2px 3px grey;
}

.event_content-container h3 {
    text-align: center;
    font-size: 0.95rem;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.event_content-container img {
    width: 100%;
    height: 90%;
}

.news {
    background-color: white;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    box-shadow: 2px 2px 3px grey;
}

.event_title {
    padding: 10px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.news_title {
    padding: 10px;
    text-align: center;
    background: rgb(196, 4, 4);
    border-bottom: rgb(255, 183, 0) 4px solid;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.news_title h2,
.event_title h2 {
    animation: zoom-in-zoom-out 4s ease infinite;
    color: white;
}

.event_title h2 {
    color: black;
}

.news_content {
    overflow: hidden;
}

.news_content-container {
    animation: moveup 5s infinite;
    padding: 10px;
    height: 100%;
}

.news_content-container p {
    line-height: 0.6cm;
    margin-bottom: 25px;
}

.news_content-container i {
    margin-right: 10px;
}

@keyframes moveup {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0%);
    }
}

@keyframes zoom-in-zoom-out {
    0% {
        transform: scale(0.1, 0.1);
    }

    100% {
        transform: scale(1, 1);
    }
}





/* FOOTER */
.header-menu ul li {
    display: inline-block;
}

.footer-top {
    height: 10px;
    background: rgb(61, 60, 60);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.footer {
    background: rgb(69, 68, 68);
    padding: 20px 80px;
    color: rgb(219, 218, 218);
    font-size: 0.8rem;
}

.row1 {
    display: flex;
    justify-content: space-between;
}

.footer a {
    color: rgb(219, 218, 218);
}

.footer a:hover {
    color: white;
    font-weight: 600;
    transition: 0.5s;
}

.footer h3 {
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    letter-spacing: 0.03cm;
    font-size: 1rem;
}

.footer h3::before {
    content: '';
    position: absolute;
    background: white;
    height: 2px;
    width: 50px;
    bottom: 0;
    left: 0;
    border-radius: 10px;
}

.footer .footer-logo {
    width: 100px;
    height: 100px;
}

.footer-logo img {
    width: 100%;
    height: 100%;
}

.footer .footer-map {
    width: 200px;
    height: 100px;
}

.footer-map img {
    width: 100%;
    height: 100%;
}

.footer ul li {
    line-height: 0.7cm;
}

.footer hr {
    border: 1px rgb(201, 200, 200) solid;
    margin: 20px 0px;
}

.footer .row2 {
    color: rgb(241, 241, 241);
    font-size: 0.75rem;
}