*{
    padding:0;
    margin:0;
}
body{
    font-family: sans-serif;
}
.demo{
    display:flex;  
    height:500px;
    width:100%
}
.intro{
    padding: 60px 30px;
    line-height: 1.5cm;
}
.intro h1{
    width:50px;
}
.list{
    display:flex;
    list-style: none;
    padding-left:20px;
}
.list a{
    text-decoration: none;
    padding:10px;
    color:#fff;
    font-size: 14px;
}
.list a:hover{
    color:#f7dc4f;
}
.info{
    background-color:#015761; 
    width:640px; 
}
.info h1{
    padding:20px;
    padding-left:30px;
    color:#f7dc4f;
    font-family:'Courier New', Courier, monospace;
    font-size:30px;
}
.intro h4{
    color:#f7dc4f;
    font-family: 'Times New Roman';
    font-size:35px;
}
.intro h1{
    color:white;
    font-size:80px;
    line-height: 2.2cm;
}

.info h6{
    color:white;
    font-size:15px;
}
.image{
    width:720px;
    height:84.25vh;
}
.image img{
    width:100%;
    height:100%;
    border-radius: 1px; 
}
.desc{
    background-color: rgba(128, 128, 128, 0.062);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom:30px
}
.desc .btn{
    padding:10px;
    background-color:#f7dc4f;
    border:none;
    
}
.desc .btn:hover{
    background-color: #015761;
    transition:0.4s ease-out;
}
.desc .btn a{
    text-decoration: none; 
    color:#015761;
    font-weight:100;
    font-size: 10px;
}
.desc .btn a:hover{
    color:#f7dc4f;
    transition:0.4s ease-out;
}
.desc h2{
    padding:80px 20px 20px 20px;
   font-size:40px;
   color:#015761;
}
.desc .para{
    width:660px;
    text-align: center;
    font:normal normal normal 15px/1.4em avenir-lt-w01_35-light1475496, avenir-lt-w05_35-light, sans-serif;
}
.para p{
    font-size:17px;
    margin-bottom:20px;
    letter-spacing: 0.05em;
    font-weight: 20;
    color:rgba(0, 0, 0, 0.66)
    
}
.desc h4{
    color:rgba(132, 91, 244, 0.425);
    margin-top:50px;
}
.reel{
    margin-top:20px;
}
.title h1{
    padding:60px;
    text-align:center;
    font-size: 60px;
    color:#015761;
}
.vdo img{
     width:100%;
}
.images{
    padding:30px;
}
.images img{
  width:380px;
  height:50vh;
}
.contact{
    display:flex;
    margin-top:100px;
    height:600px;
    width:100%
   
}
image1{
    width: 60%;
}
.image1 img{
    height:600px;
    width:100%;
}
.info1{
    width:1000px;
    background-color:#015761; 
}
.info1 h1{
    padding:60px 50px 25px 50px;
    color:#f7dc4f;
    font-size:65px;
}
.info1 h2{
    padding:0px 50px;
    color:white;
    font-size:22px;
    margin-bottom:20px;
}

.info1 p{
    padding-left:50px;
    color:white;
    font-size:12px;
    margin-bottom:2px;
    line-height: 20px;
}
.light{
    font-size:14px;
}
.review{
    justify-content: center;
    align-items: center;
    border:none;
    padding:20px;
    align-items: center;
    justify-content: center;
}
.review .btn{
    background-color:rgba(21, 133, 21, 0.621);
    border:none;
    width:150px;
    padding:6px;
}   
.review .btn:hover{
    background-color:rgba(191, 183, 183, 0.769);
    transition:0.4s ease-out;
}

.review .btn a{
    color:white;
    text-decoration: none;
    border:none;
}
.review .btn a:hover{
    color:rgba(21, 133, 21, 0.621);
    transition:0.4s ease-out;
}
