*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width:100%;
    height:100vh;
    display: flex;
    flex-wrap: wrap;
}
.image{
    height:100%;
    width: 100%;
    position: relative;
    z-index: -1;
}
.image img{
    height:100%;
    width:100%;
}
.cards{
    display: flex;
    flex-wrap: wrap;
}
.col1{
    position: absolute;
    width:35%;
    top:0;
    left:0;
    height: 100%;
    background: rgba(255, 255, 255, 0.733);
    border-right: rgba(255, 217, 0, 0.772) solid 20px;
    padding: 20px;
    text-align: center;
    clip-path:polygon(0 0,95% 0 ,100% 100%,0% 100%);
}
.heading h1{
    padding: 30px;
    color:rgb(212, 59, 59);
}
.rank h2{
    color: white;
    background: rgb(212, 59, 59);
    border-radius: 5px;
    padding: 5px;
}
.india h3{
    color:navy;
    font-size: 25px;
    margin-top: 20px;
    letter-spacing: 0.03cm;
}
.nirf h1{
    color:rgb(118, 31, 198);
    font-size: 140px;
    margin-top: 40px;
}
.last h3{
    color:blue;
    font-size: 30px;
    letter-spacing: 0.08cm;
    word-spacing: 0.2cm;
}
.card1,.card2,.card3{
    top:40%;
    position: absolute;
    background:linear-gradient(brown,rgb(228, 56, 26));
    border-radius: 20px;
    padding: 10px 20px;
    text-align: center;
    width:160px;
    font-family: sans-serif;
    z-index: 1000;
    outline:dashed 1.5px goldenrod;
    outline-offset: 5px;
    outline-style: none dashed none none;  
}
.card1{
    left:45%;
}
.card2{
    right:25%;
}
.card3{
    right:8%;
}
.opacity{
    opacity:70%;
    font-weight: 100;
}
.size{
    font-size: 30px;
}
 h1{
    font-size:60px;
    color:white;
}
 h3{
    color:#fff;
}
 h2{
    color: gold;
}
.btn{
    position: absolute;
    top:10%;
    right:0;
    writing-mode: vertical-rl;
}
.btn button{
    background: rgb(212, 59, 59);
    padding:10px 5px;
    border:double white 4px;
}
.btn a{
    text-decoration: none;
    font-size: 20px;
    color:white;
}
.btn button:hover{
    background: white;
    border:solid rgb(212, 59, 59) 3px;
    border-radius: 20px;
}
.btn a:hover{
    color:rgb(212, 59, 59);
}
