*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.header{
    margin: 40px;
    font-size: 2rem;
    color: rgb(97, 4, 4);
    text-align: center;
    text-shadow:4px 4px 4px rgba(227, 42, 42, 0.918);
}
.header h1{
    z-index: 999;
}
.header .image{
    position: absolute;
    z-index: 99;
    width: 200px;
}
.header .image img{
    width: 100%;
}
.container1{
    height: 80vh;
    background-image: url(image/cofee.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container1 .heading{
    color: white;
    font-size: 5rem;
    font-family: "Sofia", sans-serif;
    text-shadow: 4px 4px  black;
}
.container2{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    margin: 10px;
    align-items: center;
    color: rgb(95, 11, 11);
}
.checkbtn{
    display: none;
}
#check{
    display: none;
}
.container2 .logo{
    width: 60px;
    height: 60px;
}
.container2 img{
    width: 100%;
    height: 100%;
}
.container2 .list li{
    display: inline-block;
    padding: 0 15px;
    font-size: 16px;
    font-weight: 500;
    font-family: "Trirong", serif;
    position: relative;
    cursor: pointer;
}
.container2 .list li:hover::before{
    content: '';
    position: absolute;
    background: rgb(95, 11, 11);
    left: 10px;
    bottom: 0;
    height: 2px;
    width:85%;
    transition: 0.1s;
    animation: scale 2s infinite;
}
@keyframes scale{
    0%{
        transform: scale(0.2);
    }
    100%{
        transform: scale(1);
    }
}
.container2 .icons{
    display: flex;
}
.container2 .icons i{
    margin: 0 10px;
    font-weight: 600;
    color: rgb(95, 11, 11);
}
.container3{
    width: 100%;
    height: 60vh;
    display: flex;
    flex-wrap: wrap;
    z-index: 99;
    box-sizing: border-box;
}
.container3 .column{
    height: 100%;
    width:33.33%;
    position: relative;
}
.container3 img{
    height: 100%;
    width: 100%;
    border-radius: 1px;
}
.container3 button{
    position: absolute;
    top: 85%; 
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white; 
    border: 2px solid rgb(97, 20, 20);
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 30px;
}
.container3 button:hover{
    background-color: rgba(255, 255, 255, 0.582); 
}
button a{
    color: rgb(58, 9, 9);
    z-index: 999;
    font-weight: 700;
}
.container4{
    height: 100vh;
    background-image: url(image/layout.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100%;
    position: relative;
    background-attachment: fixed;
}
.container4 .layout{
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.317);
    z-index: 99;
}
.container4 .content{
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container4 h3{
    font-size: 25px;
    margin: 15px;
    font-family:  'Lucida Sans Unicode';
    text-shadow: 1px 1px  black;
}
.container4 h1{
    font-size: 90px;
    font-family: "Sofia", sans-serif;
    text-shadow: 4px 4px  2px black;
}
.container4 h2{
    font-size: 60px;
    font-family: Georgia;
    margin: 10px;
    text-shadow: 2px 2px  black;
}
.footer{
    padding:20px 70px;
}
.footer .row1{
    display: flex;
    justify-content: center;
    margin: 30px;
}
.row1 i{
    font-size: 30px;
    margin: 0 20px;
    color: white;
    padding: 6px;
    border-radius: 10px;
}
.fa-facebook{
    background: rgb(85, 85, 237);
}
.fa-instagram{
    background: rgb(237, 59, 253);
}
.fa-youtube{
    background: rgb(225, 9, 9);
}
.fa-twitter{
    background: rgb(65, 141, 235);
}
.fa-linkedin{
    background:rgb(16, 98, 198) ;
}
.footer .row2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* gap: 30px; */
    margin: 40px 0;
}
.row2 h2{
    color: rgb(110, 109, 109);
    margin-bottom: 15px;
    position: relative;
}
.row2 h2::before{
    content: '';
    position: absolute;
    background: rgb(61, 5, 5);
    bottom: 0;
    height: 1px;
    width:30px;
}
.row2 li{
    color: grey;
    line-height: 0.6cm;
}
.copyright{
    margin-top: 10px;
    color: rgb(113, 112, 112);
}
hr{
    background:rgba(128, 128, 128, 0.29);
    border: none;
    height: 0.5px;
}
