*{
    margin: 0;
    padding: 0;
}
.form{
    padding: 10px 0;
    text-align: center;
    background-color: rgba(254, 211, 254, 0.137);
    color:rgb(78, 8, 29);
    font-size: 19px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    
}
.form p{
    animation:rotate 7s ;
}
.header-sub{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid rgba(0, 0, 0, 0.121);
}
.logo{
       width: 100px;
}
.logo img{
   
    width: 100%;
}
.title{
    text-align: center;
    font-size: 12px;
    font-family:Arial, Helvetica, sans-serif ;
    padding-top: 11px; 
    line-height:0.7cm;
    color:navy;
    width: 63%;
}
.title p{
    line-height:0.4cm;
}  
.certi{
    display: flex;
    flex-wrap: wrap;
}
nav{
    padding:10px;
    background: rgba(77, 205, 248, 0.025);
}
nav ul.Menu{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
nav .Menu li{
    display: inline-block;
}
nav .Menu li a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    justify-content: space-between;
    padding:10px;
}
.enquirybtn{
    margin-left: 10%;
}
.btn{
    padding:4px 20px;
    font-size: 15px;
    background-color: rgba(231, 231, 12, 0.543);
    border: none;
    border-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    color:rgb(57, 5, 57);  
    margin-left:60%; 
}
.btn:hover{
    background-color: rgba(95, 8, 95, 0.886);
    color:rgba(231, 231, 12, 0.943);
}
.photo{
    height: 80vh;
    background-color: rgba(77, 205, 248, 0.053);
}
.photo img{
    width: 100%;
    height:100%;
    animation: slide 3s;
    opacity:90%;
}@keyframes rotate{
    from{
        transform:translateX(100%);
    }
    to{
        transform: translateX(-300);
    }
}
@keyframes slide{
    from{
        transform:translateX(-100%);
    }
    to{
        transform:translateX(300);
    }
}
.admi{
    padding-top: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    background-color: rgba(209, 236, 241, 0.032);
}

/* branches */

.branches{
    padding:20px;
    background-color: rgba(209, 236, 241, 0);
}
.branches .sec1,.sec2{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding:15px 0;
}
.bio1,.sci1,.mgmt1,.nur1,.phy1,.med1,.art1{
    width: 22%;
    margin: 0 5px;
    padding:10px;
}
.phy1,.med1{
    width: 28%;
}
.art1{
    width: 35%;
}
.bio2,.sci2,.mgmt2,.nur2,.phy2,.med2,.art2{
    background: rgba(242, 122, 122, 0.511);
    border-radius: 30px;
    text-align: center;
    padding:5px;
    font-size: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(94, 5, 94);
    box-shadow: 2px 2px 4px grey;
}
.bio3,.sci3,.mgmt3,.nur3,.phy3,.med3,.art3{
    list-style-type:none ;
    padding-left: 20px;
    padding-top: 10px;
}
.bio3 li a{
    text-decoration: none;
}
.sci3 li a{
    text-decoration: none;
}
.mgmt3 li a{
    text-decoration: none;
}
.nur3 li a{
    text-decoration: none;
}
.phy3 li a{
    text-decoration: none;
}
.med3 li a{
    text-decoration: none;
}
.art3 li a{
    text-decoration: none;
}

/* recruiter */

.recruiter1{
    opacity: 90%;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSW_RVjDSODJuMqZ0gVweazYjfD0-ecWQ81Yg&s);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100%;
    height: 80vh;
    border-radius: 5px;
    padding:40px 0;
    z-index:-2000;
}
.recruiter2{
    height:100%;
    margin:0 80px;
}
.heading{
    font-size: 25px;
   text-align: center;
   color: black;
   margin-right: 60px;
   height:20%
}
.recruimage{
    display: flex;
    flex-wrap: wrap;
    height:70%;
    justify-content: space-around;
    padding:40px 0;
}
.recruiter2 .heading h1{
    z-index:1000;
}
.img1 img{
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    height:70%;
    width:220px;
    border: 2.5px dotted white;
    z-index:1000;
}
.img2 img{
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    height:70%;
    width:220px;
    border: 2.5px dotted white;
    z-index:2000;
}
.img1,.img2 p{
    text-align: center;
    font-size: 20px;
    z-index:2000;
}

/* event */

.event{
    padding:10px;
    background-color: rgba(128, 128, 128, 0.068);
    
}
.event .title1,.title2{
    padding:10px;
    text-align:center ;
    /* animation: zoom-in-zoom-out 5s ease;
    visibility: visible; */
}
.container{
    margin:0 20px;
    padding:0 10px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.events{
    width:50%;
}
.container1{
    border:1px rgba(128, 128, 128, 0.372) solid;
    overflow: hidden;
    box-shadow: 2px 2px 4px grey;
}
.subcontainer1{
    animation: moveup 5s infinite;
}
.row1,.row2,.row3,.row4{
    display: flex;
    flex-wrap: wrap;
    margin:10px;
}
.date1,.date2,.date3,.date4{
    padding:0 10px;
    background: rgb(134, 4, 4);
    color: white;
}
.event1,.event2,.event3,.event4{
    padding:0 10px;
}
.evephoto{
    text-align: center;
}
.evephoto img{
    width:77%;
    height:40vh;
    margin-top: 10px;
    box-shadow: 2px 2px 4px grey;
    z-index: 1000;
}
@keyframes moveup{
    from{
        transform: translateY(100%);
    }
    to{
        transform: translateY(0%);
    }
}
@keyframes zoom-in-zoom-out {
    0% {
        transform: scale(0.1, 0.1);
    }
      100%{
        transform: scale(1,1);
    }
}


.left-right{
    padding:10px;
    background-color: rgba(128, 128, 128, 0.068);
    height:120vh;
    width: 1316px;
}
.containers {
    margin-left:30px;  
    margin-right:30px; 
    padding: 15px;
    height:100%;
    width:90%;
}
.left{
    position: absolute;
    height:100%;
    float:left;
    width:550px;
}
.left img{
    height:100%;
    width:100%;
    border-radius: 30px;
}
.card{
    float: right;
    width: 60.1%;
    position: relative;
    height:66vh;
    background-color: #fff;
    box-shadow: 0 8px 30px rgba(214, 214, 214, 0.78);
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    margin-top:100px;
 }
 .subcard{
    padding:20px;
    height:100%;
 }
 .subcard h1{
    padding: 30px;
    text-align: center;
 }
 .subcard p{
    padding:0 20px;
 }
 /* animation */
 .animated-text {
    opacity: 0;
    transform: translateY(200px);
    transition: opacity 2s ease-out, transform 3s ease-out;
}

.animated-text.visible {
    opacity: 1;
    transform: translateY(0);
}
